{% extends "homeapp/base.html" %}
{% block content %}
<div>
	<h1>basic tool</h1>
</div>
<div class="container text-center">
	<div class="row gy-2">
		<div class="col">
			<div class="p-4">column</div>
		</div>
		<div class="col">
			<div class="p-4">column</div>
		</div>
		<div class="col">
			<div class="p-4">column</div>
		</div>
		<div class="col">
			<div class="p-4">column</div>
		</div>
		<div class="col">
			<div class="p-4">column</div>
		</div>
		<div class="col">
			<div class="p-4">column</div>
		</div>
		<div class="col">
			<div class="p-4">column</div>
		</div>
		<div class="col">
			<div class="p-4">column</div>
		</div>
		<div class="col">
			<div class="p-4">column</div>
		</div>
	</div>
</div>
{% endblock %}
